body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link a, .navbar-brand a{
  text-decoration: none;
  color: black;
}

.image{
  width: 70%;
}
.header{
  text-align: center;
}
.navbar-style{
  background: rgb(245,199,43);
  background: linear-gradient(90deg, rgba(245,199,43,1) 0%, rgba(231,89,49,1) 50%, rgba(255,27,103,1) 100%);
}
.Main{
  text-align: center;
  align-items: center;
}
form{
  width: 100%;
  height: 100%;
  color: #000000;
  display: block;
}

.footer{
  text-align: center;
  height: 3rem;
  background: rgb(245,199,43);
  background: linear-gradient(90deg, rgba(245,199,43,1) 0%, rgba(231,89,49,1) 50%, rgba(255,27,103,1) 100%);
  display: flex;
  justify-content: space-around;
}
.footer a{
  text-decoration: none;
  font-size: 2rem;
}
.icon:first-child {
  color: rgb(192, 59, 6);
}
.icon{
  text-decoration: none;
  color: blue;
}
.icon:last-child{
  color: rgb(0, 225, 255);
}
@media screen and (max-width: 720px) {
  .Main img{
    width: 100%;
  }
}
